[submodule "SecondCalculator.Calculator-Software_development_methods_labs"]
	path = SecondCalculator.Calculator-Software_development_methods_labs
	url = https://github.com/Dmitrii-Stukalov/SecondCalculator.Calculator-Software_development_methods_labs
