[submodule "Calculator-Software_development_methods_labs"]
	path = Calculator-Software_development_methods_labs
	url = https://github.com/Dmitrii-Stukalov/Calculator-Software_development_methods_labs
[submodule "Calc"]
	path = Calc
	url = https://github.com/IamKOALA/Calc
